.Toastify__close-button {
	color: rgb(102, 102, 102) !important;
	opacity: 1 !important;
	align-self: center !important;
	position: absolute !important;
	right: 12px !important;
	top: 12px !important;
}
