:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-background: #ffffff;
    
    --color-primary: #1A73E8;
    --color-secondary: #CCCCCA;
    --color-error: #CD6565;
    --color-success: #4CAF50;
  
    --color-text-primary: #4C4C4C;
    --color-text-secondary: #474747;
    --color-text-muted: #5D5D5D;
  
    --font-family-base: 'Unbounded', sans-serif;
    --font-family-accent: 'Manrope', sans-serif;
  
    --font-size-large: 24px;
    --font-size-medium: 16px;
    --font-size-small: 12px;
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  
    --transition-duration: 0.2s;
  
    --border-radius: 10px;
  }