:root {
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-background: #ffffff;
    
    --color-text-input: #4C4C4C;
    --color-text-label: #474747;
    --color-text-link: #5D5D5D;
    
    --color-button-active: #4C8FE8;
    --color-button-inactive: #CCCCCA;
  
    --font-family-base: 'Unbounded', sans-serif;
    --font-family-accent: 'Manrope', sans-serif;
    --font-family-hebrew: 'Arimo Hebrew Subset', sans-serif;
  
    --font-size-h1-desktop: 24px;
    
    --font-size-h1-mobile: 16px;
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  
    --transition-duration: 0.2s;
  
    --color-input-inactive: #CCCCCA;
    --color-input-active: #65A2CD;
    --color-input-error: #CD6565;
    --color-input-error-bg: #FF9393;
    --color-input-disabled: #C5C5C5;
    --color-input-disabled-bg: #C5C5C5;
  
    --input-width-desktop: 542px;
    --input-height-desktop: 43px;
  
    --input-width-mobile: 229px;
    --input-height-mobile: 20px;
  
    --font-size-input-desktop-large: 20px;
    --font-size-input-desktop-medium: 16px;
    --font-size-input-desktop-small: 12px;
    
    --font-size-input-mobile-large: 16px;
    --font-size-input-mobile-medium: 14px;
    --font-size-input-mobile-small: 12px;
  
    --button-width-desktop: 229px;
    --button-height-desktop: 43px;
     
    --button-width-mobile: 112px;
    --button-height-mobile: 20px;
  
    --button-border-radius: 5px;
    --button-padding: 10px;
    --button-gap: 10px;
  
    --color-button-enabled: #1A73E8;
  
    --color-button-disabled: #C3C3C3;
    
    --color-button-pressed: #1A73E8; 
    --button-inner-shadow-pressed: inset 9px 7px 9.4px 0px rgba(0, 0, 0, 0.25);
    
    --color-button-hover: #1A73E8; 
    --button-shadow-hover-1: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    --button-shadow-hover-2: 6px 7px 9px 0px rgba(0, 0, 0, 0.17);
  
    --loading-width: 229px;
    --loading-height: 43px;
  
    --loading-spinner-width: 9px;
    --loading-spinner-height: 9px;
    --loading-spinner-border: 2px;
    --loading-spinner-color: #FFFFFF;
    --loading-spinner-position-top: 3px;
    --loading-spinner-position-left: 12px;
  }